<style>
    .ex1 {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color:  rgba(201, 76, 76, 0.3);;
}
</style>
<body class="ex1">
<center>
<form method="POST" enctype="multipart/form-data">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form.as_p }}

    <input type="submit" value="Submit">
</form>
    {% for data in dataset %}
       <h3>{{ data.datetime }}  </h3>
       <h1><a href="{{data.id}}/detail" >{{data.task}}</a>&nbsp;</h1>
       <a href="{{data.id}}/delete" >Delete</a>&nbsp;
       <a href="{{data.id}}/update" >Update</a>
    {% endfor %}<br>
{% for data in x %}

{% endfor %}

</center>
</body>